---
layout: default
---

<div>
  <h1 class="h0 py4">
    Notes <br>
    <small>EmberConf 2015</small>
  </h1>

  <ul class="post-list">
    {% for post in site.posts reversed %}
      <li class="post-list-item">
        <h2>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> <br>
          <small>by {{ post.speaker }}</small>
        </h2>
        <p class="m0 p0">
          {% if post.slides %}
            <a href="{{ post.slides }}">slides</a>
          {% endif %}
          {% if post.video %}
            <a href="{{ post.video }}">video</a>
          {% endif %}
        </p>
      </li>
    {% endfor %}
  </ul>
</div>
